@use 'functions' as *;

/* Автоматическое масштабирование между min и max
в зависимости от ширины экрана */
@mixin fluid-text($max: 48, $min: 16) {
    font-size: fluid($max, $min);
}

/* Сокрытие элемента */
@mixin hide {
    opacity: 0;
    visibility: hidden;
}

/* Делает элемент видимым и непрозрачным */
@mixin show {
    opacity: 1;
    visibility: visible;
}

/* Центрирование содержимого по горизонтали и вертикали */
@mixin flex-center($isInline) {
    @if ($isInline) {
        display: inline-flex;
    } else {
        display: flex;
    }

    justify-content: center;
    align-items: center;
}

/* Абсолютное позиционирование и растягивание элемента
на всю область родителя */
@mixin abs-cover {
    position: absolute;
    inset: 0;
}

/* Абсолютное центрирование элемента по горизонтали и вертикали.
Сдвиг точки позиционирования в центр родителя.
Смещение элемента на половину собственной ширины и высоты */
@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

/* Центрирование по горизонтали */
@mixin abs-x {
    position: absolute;
    left: 50%;
    translate: 50%;
}

/* Центрирование повертикали */
@mixin abs-y {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
}

/* Создание квадратного элемента */
@mixin square($size) {
    width: $size;
    height: $size;
}

/* Доступное сокрытие. Полностью скрывает элемент визуально,
но оставляет его доступным для скринридеров. */
@mixin visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

/* Стилизация состояния фокуса элемента */
@mixin focus-visible {
    outline: 2px dashed var(--color-white);
    outline-offset: 4px;
    transition-duration: 0s !important;
}

/* Стилизация неактивного элемента */
@mixin disabled {
    opacity: 0.5;
    cursor: not-allowed;
}